li{
    list-style-type: none;
    margin: 0 2px;
    font-size: 12px;
  }

  a{
    text-decoration: none;
    color:indigo;
    padding: 2px;
  }

  a:hover{
    background-color: #C6E9FF;
  }

  nav{
    width: 100vw;
    background-color:grey;
  }

  ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  body{
    margin: 0;
  }

  button{
    display: none;
  }

  @media only screen and (max-width: 500px) {
    /*shows elements in a column*/
    ul{
      flex-direction: column;
    }
    
    /* deletes margin on top or bottom of the a tag*/
    li{
      margin: 0;
    }
   /* makes sure that the a tag will take the entire screen*/
    a{
      display: block;
    }

    button{
        /*makes the button visible*/
        display: block;
        
        /*Style the button for navbar*/
        padding: 2px;
        font-size: 8px;
        background-color: #AFE0FF;
        border: none;
        
        /*outline none removes the default blue border that appears anytime you click on the button*/
        outline: none;
        
        cursor: pointer;

        /*this put the button on the left*/
        align-self: flex-start;
      }
  }