@media only screen and (max-width: 500px) {
    nav i.fas.fa-bars {
        display:block;
    }
    nav ul {
        display:none;
    }
}

@media only screen and (min-width: 768px) {
	header .wrapper .article h1 span.arrow {
		display: none;
	}
	header .wrapper .article .description {
		max-height: 300px;
	}
	section.dashboard .slick-list .slick-track {
		display: flex;
	}
	section.dashboard .slick-list .slide {
		opacity: 1;
	}
}

@media only screen and (min-width: 1024px) {
	.container header .menu-icon {
		display: none;
	}
	.container header .header-nav-area #nav_container {
		display: flex;
	}
	.container header .wrapper {
		text-align: left;
		margin-left: 5%;
		width: 480px;
	}
	section.dashboard .slick-list .slick-track[index='2'] {
		display: flex;
	}
	section.dashboard .slick-list .slide {
		opacity: 1;
	}
}

.projects {
  display:flex;
  
}
img {
    width:600px;
    height:600px;
    background-size: cover;
    
    
   
}
.carousel-caption h5 {
    color: purple;
    font-size: 50px;
    font-weight: 700;
}

.carousel-caption {
    font-size:30px;
    font-weight: 500;
    color:rgb(91, 191, 209);

}

/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
h2{
text-align: center;
font-size: 24px;
}
hr{
margin-bottom: 30px;
}
div.container{
width: 960px;
height: 610px;
margin:50px auto;
font-family: 'Droid Serif', serif;


}
div.main{
width: 800px;
padding: 10px 55px 40px;
background-color: rgba(187, 255, 184, 0.65);
box-shadow: 0 0 10px;
font-size: 13px;

}
input[type=text],[type=password] {
width: 97.7%;
height: 34px;
padding-left: 5px;
margin-bottom: 20px;
margin-top: 8px;
box-shadow: 0 0 5px #00F5FF;
border: 2px solid #00F5FF;
color: #4f4f4f;
font-size: 16px;
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
#register {
font-size: 20px;
margin-top: 15px;
background: linear-gradient(#22abe9 5%, #36caf0 100%);
border: 1px solid #0F799E;
padding: 7px 35px;
color: white;
text-shadow: 0px 1px 0px #13506D;
font-weight: bold;
border-radius: 2px;
cursor: pointer;
width: 100%;
}
#register:hover{
background: linear-gradient(#36caf0 5%, #22abe9 100%);
}


/* Included color classes.. 
	.red 
	.blue 
	.yellow 
*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1104 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 330px;
  max-height: 500px;
  width: 100%;
  background: #000000;
  color: #fbf8fc;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  
  
}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  
}

figure.snip1104 img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

figure.snip1104:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.snip1104 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1104.blue {
  background: #123851;
}

figure.snip1104.blue h2 {
  background: #0a212f;
}

figure.snip1104.red {
  background: #581a14;
}

figure.snip1104.red h2 {
  background: #36100c;
}

figure.snip1104.yellow {
  background: #7f5006;
}

figure.snip1104.yellow h2 {
  background: #583804;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

body {
  background-color: #212121;
  margin: 0;
  height: 100%;
  
}

.figure {
    display:flex;
    justify-content: center;
    
    
    
    
}


